body,
[data-sonner-toaster] {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

* {
  @apply border-border outline-ring/50;
}
body {
  @apply bg-background text-foreground;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

.range-start.range-end {
  @apply rounded-md!;
}

.column-left-shadow {
  @apply absolute top-0 -right-4 h-full w-4 dark:border-l;
  box-shadow: inset 8px 1px 12px -11px rgba(0, 0, 0, 0.2);
}

.column-right-shadow {
  @apply absolute top-0 -left-4 h-full w-4 dark:border-r;
  box-shadow: inset -8px 1px 12px -11px rgba(0, 0, 0, 0.2);
}
.dark {
  .column-left-shadow {
    box-shadow: inset 8px 1px 12px -11px rgba(0, 0, 0, 0.8);
  }

  .column-right-shadow {
    box-shadow: inset -8px 1px 12px -11px rgba(0, 0, 0, 0.8);
  }
}

.column-right-shadow,
.column-left-shadow {
  @apply hidden;
}
.is-reach-left:not(.is-reach-right) {
  .column-right-shadow {
    @apply block;
  }
}

.is-reach-right:not(.is-reach-left) {
  .column-left-shadow {
    @apply block;
  }
}
.is-reach-left.is-reach-right {
  .column-right-shadow,
  .column-left-shadow {
    @apply block;
  }
}
.column-pin-backdrop {
  @apply bg-background dark:bg-card absolute top-0 bottom-0 left-0 z-[-1] h-full w-full;
}

.max-h-\[calc\(100vh_-_32px\)\] {
  max-height: calc(100svh - 32px);
}
