.svg {
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  [fill='#26292C'] {
    fill: currentColor;
  }
  [stroke='#26292C'] {
    stroke: currentColor;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
