@media (max-width: 768px) {
  .docblock-argstable {
    display: none;
  }
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.dark .docs-story {
  background: var(--background);
}
